<%-include('../partials/header'); %>
    <main class="main-home container">
        <h2 class="home-header text-center"></h2>
        <img src="<%= data[Math.floor(Math.random() * data.length)].image %>" alt="home image" class="image-fluid">
    </main>
<%- include('../partials/footer'); %>
    